<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
      lang="fr">
<head>
    <meta charset="utf-8">
    <title>Saisir un article</title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-md-4 col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Saisir nouvel item</div>
            <div class="panel-body">
                <form th:action="@{/save}" method="post" th:object="${item}">
                    <div class="form-group">
                        <label class="control-label"> Name: </label>
                        <input class="form-control" type="text" name="name" th:value="${item.name}">
                        <span th:errors="${item.name}" class="text-danger" ></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> BuffAttack : </label>
                        <input class="form-control" type="text" name="buffAttack" th:value="${item.buffAttack}">
                        <span th:errors="${item.buffAttack}" class="text-danger" ></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> BuffDefense : </label>
                        <input class="form-control" type="text" name="buffDefense" th:value="${item.buffDefense}">
                        <span th:errors="${item.buffDefense}" class="text-danger" ></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Rarity: </label>
                        <input class="form-control" type="text" name="rarity" th:value="${item.rarity}">
                        <span th:errors="${item.rarity}" class="text-danger" ></span>
                    </div>
                    <div class="form-group">
                        <select name="hero">
                            <option th:each="hero : ${heroList}" th:value="${hero.id}" th:text="${hero.name}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>