<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="fr">

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <link rel = "stylesheet" href ="../static/css/bootstrap.min.css" th:href = "@{css/bootstrap.min.css}">
    <link rel = "stylesheet" href ="../static/css/style.css" th:href = "@{css/style.css}">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ma boutique en ligne</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a>Accueil</a></li>
                <li>
                    <a th:href="@{/item}">Ajout d'un item</a>
                </li>
                <li>
                    <a class="fa fa-shopping-cart"></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class = "container">
        <section layout:fragment="content" ></section>
    </div>
    <div class="text-center">
        <footer class="container">pied de page </footer>
    </div>
</body>
</html>